<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello world</title>
</head>
<body>
  <main class="container" >
    <div class="paper">
      <div class="pin pin-left"></div>
      <div class="pin pin-right"></div>
      <div class="paper-content">
        <div class="box">
          <div id="markdown-body">
            <%- markdown %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="d-print-none footer">
    Powered by <a href="" class="link">markCV</a>
  </footer>
</body>
</html>
