

$font-size-base:              1rem;
$h1-font-size:                $font-size-base * 2.25;
$h2-font-size:                $font-size-base * 1.75;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.25;
$h5-font-size:                $font-size-base * 1.1;
$h6-font-size:                $font-size-base;
@import '~bootstrap/scss/bootstrap';


h1 {
  margin-bottom: 0.7em;
}
h2 {
  margin-bottom: 0.6em;
}
h1:not(:first-child) {
  margin-top: 2em;
}

.footer {
  margin-top: 160px;
  margin-bottom: 20px;
  font-size: 14px;
  color: $gray-500;
  text-align: center;
  .link {
    color: inherit;
  }
}


@media screen {
  body {
    padding-top: 60px;
    background-color: #f5f4ed;
  }
  .paper {
    background-color: #ffffff;
    padding: 1.2em;
    box-shadow: -5px 10px 20px rgba(0,0,0,0.3);
    position: relative;
  }
  .paper-content {
    padding: 1.4em;
    background-color: #f1edeee1;
  }
  .box {
    border: 4px solid #666;
    padding: 1.6em;

  }
  .pin {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -30px;
    &.pin-right {
      right: 10%;
      background: url(./images/pin-right.png) center/100% 100% no-repeat;
    }
    &.pin-left {
      left: 10%;
      background: url(./images/pin-left.png) center/100% 100% no-repeat;
    }
  }
  .tips {
    text-align: right;
    color: $gray-500;
    font-size: 0.8rem;
  }
  .stick {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    background: url(./images/stick.png) center/100% 100% no-repeat;
    padding: 150px 100px 120px;
    .content {
      transform:  translate(0px,20px) rotate(16deg);
      font-size: 14px;
      line-height: 35px;
      color: $gray-700;
    }
  }
  @include media-breakpoint-up(xs) {
    .paper {
      padding: 0.6em;
    }
    .paper-content{
      padding: 0.7em;
    }
    .box{
      padding: 0;
      border: none;
    }
    .pin {
      width: 20px;
      height: 20px;
      top: -10px;
    }
    .stick {
      transform: scale(0.6);
    }
  }
  @include media-breakpoint-up(sm) {
    .paper {
      padding: 0.6em;
    }
    .paper-content {
      padding: 0.7em;
    }
    .box {
      padding: 0.8em;
      border: 2px solid #666;
    }
    .pin {
      width: 30px;
      height: 30px;
      top: -16px;
    }
    .tips {
      font-size: 1rem;
    }
    .stick {
      transform: scale(0.8);
    }
  }
  @include media-breakpoint-up(md) {
    .paper {
      padding: 1.2em;
    }
    .paper-content{
      padding: 1.4em;
    }
    .box{
      padding: 1.6em;
      border: 4px solid #666;
    }
    .pin {
      width: 40px;
      height: 40px;
      top: -30px;
    }
    .stick {
      transform: scale(1);
    }
  }
  @include media-breakpoint-up(lg) {  }
  @include media-breakpoint-up(xl) {  }
}

@media print {
  @page {
      size: A4 portrait;
      margin: 3.7cm 2.6cm 3.5cm;
  }

  h1, h2 {
      page-break-after: avoid;
  }

  h1, h2, h3, h4, h5, h6,
  thead, tfoot, tr, th, td,
  li {
      page-break-inside: avoid;
  }

  body {
      background-color: white;
      color: black;
  }

  nav, aside {
      display: none;
  }

  a::after {
      content: "(" attr(href) ")";
  }

  thead, tfoot {
      display: table-row-group;
  }
}
